@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");


$backcolor: rgba(233, 234, 239, 0.85);

@mixin min-mixin($arg) {
    @media screen and (min-width: $arg) {
        @content;
    }
}

@mixin min-max-mixin($arg1, $arg2) {
    @media screen and (min-width: $arg1) and (max-width: $arg2) {
        @content;
    }
}

@mixin max-mixin($arg) {
    @media screen and (max-width: $arg) {
        @content;
    }
}
.spacer30 {
    height: 30px;
}
.spacer20 {
    height: 20px;
}
.spacer10 {
    height: 8px;
}
.spacer5 {
    height: 5px;
}


.header {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    height: 65px;
    background-color: #e9eaefd8;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    .header-text {
        // border: 3px solid red;
        // padding-right: 25px;
        // margin: 8px;
        margin-top: 8px;
        margin-bottom: 8px;
        font-size: 15px;
        color: red;
        a {
            font-family: Helvetica;
            text-decoration: none;
            font-weight: bold;
            color: #343638;
            font-size: 11px;
            @include max-mixin(400px) {
                font-size: 8px;
            }
            }
        @include max-mixin(400px) {
            font-size: 12px;
        }
    }
    .header-logo {
        // border: 3px solid red;
        font-family: "Comfortaa", cursive;
        font-size: 36px;
        @include max-mixin(450px) {
            padding-top: 5px;
            font-size: 24px;
        }
        @include max-mixin(350px) {
            padding-top: 5px;
            font-size: 18px;
        }
    }
}

.footer {
    // border: 3px solid blue;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    height: auto; //40px;
    background-color: $backcolor; // #e9eaefd8;
    display: flex;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: Helvetica;
    font-size: 13px;
    opacity: 100%;
    justify-content: space-around;
    a {
        text-decoration: none;
        color: #050505;
    }
    color: #050505;

    @include max-mixin(550px) {
        // height: 500px;
        width: 100%;
        display: grid;
        // grid-template-columns: 1fr 1fr;
        grid-template-columns: auto auto;
        // grid-template-rows: 1fr 1fr 1fr;
        justify-content: center;
        justify-items: center;
        // padding-bottom: 0;

        .box {
            // border: 3px solid red;
            // width: 200px;
            height: auto; //50px;
            text-align: center;
        }
        .home {
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
        }
        .contact {
            grid-column: 2 / span 1;
            grid-row: 1 / span 1;
        }
        .rights {
            grid-column: 1 / span 2;
            grid-row: 2 / span 1;
        }
        .email {
            grid-column: 1 / span 2;
            grid-row: 3 / span 1;
            a {
                text-decoration: none;
            }
        }
    }
}

@import 'maps';