
@mixin min-mixin($arg) {
    @media screen and (min-width: $arg ) {
        @content;
    }
}

@mixin min-max-mixin($arg1, $arg2) {
    @media screen and (min-width: $arg1 ) and (max-width: $arg2) {
        @content;
    }
}

@mixin max-mixin($arg) {
    @media screen and (max-width: $arg ) {
        @content;
    }
}


.header {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    height: 50px;
    background-color: #e9eaefd8;
    display: flex;
    justify-content: space-around;
    // padding-left: 600px;
    padding-top: 15px;
    header-text {
        // padding-right: 25px;
        margin: 20px;
    }
}

.footer {
    // border: 3px solid blue;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    height: auto; //40px;
    background-color: #E9EAEFD8;
    display: flex;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 13px;
    opacity: 50%;
    justify-content: space-around;


    @include max-mixin(550px) {
        // height: 500px;
        width: 100%;
        display: grid;
        // grid-template-columns: 1fr 1fr;
        grid-template-columns: auto auto;
        // grid-template-rows: 1fr 1fr 1fr;
        justify-content: center;
        justify-items: center;
        // padding-bottom: 0;

        .box {
            // border: 3px solid red;
            // width: 200px;
            height: auto; //50px;
            text-align: center;
        }
        .home {
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
        }
        .contact {
            grid-column: 2 / span 1;
            grid-row: 1 / span 1;
        }
        .rights {
            grid-column: 1 / span 2;
            grid-row: 2 / span 1;
        }
        .email {
            grid-column: 1 / span 2;
            grid-row: 3 / span 1;
        }
    }
}

