@import "common";

* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica;
    margin: 0;
}
.my-slides {
    display: block;
}
img {
    vertical-align: middle;
}
$breakpoint1:  950px;
$breakpoint2: 600;
/* Slideshow container */
.artwork-container {
    // border: 3px solid red;
    background-color: #E9EAEFD8;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: auto;

    .artwork {
        // border: 3px solid red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @include max-mixin($breakpoint1) {
            flex-direction: column;
        }
        @include max-mixin(600px) {
            padding-left: 0;
            padding-right: 0;
        }
        
        img {
            // width: 871px;
            // height: 654px;
            width: 80%;
            // @include max-mixin(600px) {
            //     width: 95%;
            // }
                height: auto;
            @include max-mixin($breakpoint1) {
                display: none;
            }
        }

        .exhibits {
            padding-top: 25px;
            width: 30%;
            @include max-mixin($breakpoint1) {
                width: 60%;
            }
            @include max-mixin(600px) {
                width: 90%;
            }
            margin: 0 auto;
            text-align: center;
            color: white;
            font-size: 15px;
            line-height: 19px;
            border: #184E3B 5px solid;
            background-color: #78A282;
            font-family: Helvetica;
            // padding-bottom: 50px;
            text-align: center;

            // @include max-mixin(750px) {
            //     float: none;
            //     width: 80%;
            // }

            .text0 {
                font-size: 30px;
                font-weight: bold;
            }
            .text1 {
                font-weight: bold;
                font-size: 19px;
            }
            .text2 {
                font-weight: bold;
                font-size: 15px;
            }
            .text3 {
                font-size: 12px;
            }
            .text4 {
                font-size: 18px;
                font-weight: bold;
            }
            .text5 {
                font-size: 18px;
                font-weight: normal;
            }

            p {
                // border: 3px solid red;
                padding: 0px 40px;
                margin-top: 1px;
                font-size: 12px;
                line-height: 1.5;
            }
            .event {
                padding: 25px;
                line-height: 1.5;
            }
        }
    }

    .text-section {
        // position: relative;
        // border: 3px solid red;
        padding-top: 35px;
        height: auto; //230px;
        background-color: $backcolor; // #e9eaefd8;
        // padding-top: -25px; //16px;
        padding-bottom: 10px;
        display: flex;
        // flex-direction: column;
        // justify-content: center;
        align-content: flex-start;
        @include max-mixin($breakpoint1) {
            display: none;
        }
        @include max-mixin(500px) {
            // display: block;
            min-width: 300px;
        }

        .text {
            width: 80%;
            // border: 3px solid blue;
            color: black;
            // justify-self: flex-start;
            padding-bottom: 20px;
            padding-left: 35px;
            padding-right: 20px;
            text-align: left;

            
            @include max-mixin(500px) {
                padding-left: 10px;
                padding-right: 0;
                width: 100%;
            }
            line-height: 25px; //200%; //20px;
            font-family: Helvetica;
            font-size: 16px;
            opacity: 100%;
            .heading {
                opacity: 100%;
                font-weight: bold;
            }
        }
        .empty {
            width: 30%;
        }

        .image {
            width: 140px;
            // border: 3px solid blue;
            color: black;
            align-self: center;
            // padding-bottom: 100px;
            min-width: 130px;
        }
        // @include max-mixin(800px) {
        //     .empty {
        //         display: none;
        //     }
        //     .text {
        //         width: 60%;
        //     }
        // }
        // @include max-mixin(800px) {
        //     .text {
        //         width: 80%;
        //     }
        // }

    }
}
