@import "common";

* {
    box-sizing: border-box;
}
body {
    font-family: Helvetica;
    margin: 0;
}
.my-slides {
    display: block;
}
img {
    vertical-align: middle;
}
$background: #e9eaefd8;
/* Slideshow container */
.artwork-container {
    // border: 3px solid red;
    max-width: 1000px;
    width: 100%;
    position: relative;
    margin: auto;
    background-color: $background;
    // padding-left: 25px;
    // padding-right: 25px;
    // height: 100vh; /
    // padding-left: 50px;

    .artwork {
        // border: 3px solid red;
        padding-left: 50px;
        @include max-mixin(850px) {
            padding-left: 0;
        }
        margin: 0 auto;
        text-align: center;
        height: auto;

        /* Caption text */
        .text {
            color: #f2f2f2;
            font-size: 15px;
            padding: 8px 12px;
            // position: absolute;
            bottom: 8px;
            width: 50%;
            text-align: center;
        }

        /* Number text (1/3 etc) */
        .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }
        .main-image {
            width: 100%;
            // width: 700px;
        }
        .extra-image1 {
            position: relative;
            top: -200px;
            left: -170px;
            z-index: 5;
            @include max-mixin(850px) {
                display: none;
            }
        }
        .extra-image2 {
            position: relative;
            top: -150px;
            left: -250px;
            z-index: 4;
            @include max-mixin(850px) {
                display: none;
            }
        }
    }

    // .text-section {
    //     // border: 3px solid red;
    //     // position: relative;
    //     // border: 3px solid red;
    //     height: auto; //230px;
    //     background-color: $background;
    //     // padding-top: -25px; //16px;
    //     padding-bottom: 10px;
    //     margin-top: -180px;
    //     @include max-mixin(850px) {
    //         margin-top: -25px;
    //     }
    //     display: flex;
    //     // flex-direction: column;
    //     justify-content: center;
    //     align-content: flex-start;
    //     .text {
    //         width: 45%;
    //         // border: 3px solid blue;
    //         color: black;
    //         // justify-self: flex-start;
    //         padding-bottom: 20px;
    //         padding-left: 15px;
    //         padding-right: 40px;
    //         text-align: left;
    //         @include max-mixin(500px) {
    //             padding-left: 10px;
    //             padding-right: 0;
    //             width: 100%;
    //         }
    //         line-height: 25px; //200%; //20px;
    //         font-family: Helvetica;
    //         opacity: 75%;
    //         .heading {
    //             opacity: 100%;
    //             font-weight: bold;
    //         }
    //     }
    //     .empty {
    //         width: 30%;
    //     }

    //     .image {
    //         width: 140px;
    //         // border: 3px solid blue;
    //         color: black;
    //         align-self: center;
    //         // padding-bottom: 100px;
    //         min-width: 130px;
    //     }
    //     @include max-mixin(800px) {
    //         .empty {
    //             display: none;
    //         }
    //         .text {
    //             width: 80%;
    //         }
    //     }
    //     @include max-mixin(800px) {
    //         .text {
    //             width: 80%;
    //         }
    //     }

    // }
}

.text-block {
    max-width: 1000px;
    width: 100%;
    position: relative;
    margin: auto;

    .text-section {
        // position: relative;
        // border: 3px solid red;
        height: auto; //230px;
        background-color: $backcolor; // #e9eaefd8;
        // padding-top: 16px;
        padding-bottom: 10px;
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-content: flex-start;
        @include max-mixin(800px) {
            flex-direction: column-reverse;
            align-items: center;
        }
        @include max-mixin(800px) {
            // width: 80%;
        }

        .text {
            width: 33%;
            // border: 3px solid blue;
            color: black;
            // justify-self: flex-start;
            padding-bottom: 20px;
            padding-left: 35px;
            padding-right: 20px;
            text-align: center;
            line-height: 25px; //200%; //20px;
            font-family: Helvetica;
            opacity: 100%;
            .heading {
                opacity: 100%;
                font-weight: bold;
            }
            @include max-mixin(800px) {
                width: 80%;
            }
            @include max-mixin(800px) {
                padding-left: 0;
                padding-right: 0;
            }

            .image {
                width: 140px;
                // border: 3px solid blue;
                color: black;
                align-self: center;
                // padding-bottom: 100px;
                min-width: 130px;
            }
            @include max-mixin(800px) {
                .empty {
                    display: none;
                }
                .text {
                    width: 80%;
                }
            }
            @include max-mixin(500px) {
                width: 80%;
            }

        }
    }
}
