@import "common";

* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica;
    margin: 0;
}
.my-slides {
    display: block;
}
img {
    vertical-align: middle;
}

/* Slideshow container */
.artwork-container {
    max-width: 1000px;
    width: 100%;
    position: relative;
    margin: auto;

    .artwork {
        /* Caption text */
        .text {
            color: #f2f2f2;
            font-size: 15px;
            padding: 8px 12px;
            // position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
        }

        img {
            height: 85vh;
        }

        /* Number text (1/3 etc) */
        .numbertext {
            display: none;
        }

        .extra-image {
            position: relative;
            top: -200px;
        }
        .main-image {
            width: 100%;
            width: 700px;
        }
        .extra-image1 {
            display: none;
        }
        .extra-image2 {
            display: none;
        }

    }

    .text-section {
        // position: relative;
        // border: 3px solid red;
        height: auto; //230px;
        background-color: $backcolor; // #e9eaefd8;
        padding-bottom: 10px;
        padding-top: 30px;
        margin-top: -25px;
        display: flex;
        // flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        @include max-mixin(500px) {
            // display: block;
            min-width: 300px;
        }

        .text {
            width: 45%;
            // border: 3px solid blue;
            color: black;
            // justify-self: flex-start;
            padding-bottom: 20px;
            padding-left: 35px;
            padding-right: 20px;
            text-align: left;

            
            @include max-mixin(500px) {
                padding-left: 10px;
                padding-right: 0;
                width: 100%;
            }
            line-height: 25px; //200%; //20px;
            font-family: Helvetica;
            font-size: 16px;
            opacity: 100%;
            .heading {
                opacity: 100%;
                font-weight: bold;
            }
        }
        .empty {
            width: 30%;
        }

        .image {
            width: 140px;
            // border: 3px solid blue;
            color: black;
            align-self: center;
            // padding-bottom: 100px;
            min-width: 130px;
        }
        @include max-mixin(800px) {
            .empty {
                display: none;
            }
            .text {
                width: 60%;
            }
        }
        @include max-mixin(800px) {
            .text {
                width: 80%;
            }
        }

    }
}
